<!DOCTYPE html>
<html>
<head>
  <title>SN</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SN</a>
    <a href="#"><%= link_to "All Statuses", statuses_path %> <span class="sr-only">(current)</span></a>
    <% if user_signed_in? %>

    <a href="#"><%= link_to "Log out", destroy_user_session_path, method: :delete %> <span class="sr-only">(current)</span></a>
<% end %>
  </div>
</nav>


<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
          <%= yield %>
</div>
</body>
</html>
